/* Conteneur principal des onglets */
.tab-container-onglet {
    width: 30%; /* Largeur fixe du conteneur à 30% du conteneur parent */
    min-width: 30%; /* Assure que la largeur ne descende jamais en dessous de 30% */
    padding: 20px; /* Espace intérieur autour du contenu */
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); /* Ombre portée légère */
    background-color: #fff; /* Couleur de fond blanc */
    border-radius: 8px; /* Coins arrondis */
    margin-left: 0; /* Espace à gauche */
    margin-right: 20px; /* Espace à droite */
}

/* Styles pour le titre principal et sous-titre des onglets */
.titre-onglet {
    text-align: center;  /* Centre le texte horizontalement */
    color: #333; /* Couleur de texte gris foncé */
    margin-bottom: 20px; /* Espace en bas */
}

.titre-onglet h1 {
    font-size: 2em; /* Taille du texte (2 fois la taille normale) */
    margin-bottom: 10px; /* Espace en dessous */
}
.titre-onglet h2 {
    font-size: 1.5em; /* Taille du texte (1,5 fois la taille normale) */
    color: #777; /* Couleur de texte gris clair */
}

/* Styles pour la liste d'onglets de la bibliothèque React Tabs */
.react-tabs__tab-list {
    border-bottom: 1px solid #aaa; /* Bordure inférieure gris clair */
    margin: 0; /* Retire les marges */
    padding: 0; /* Retire l'espacement intérieur */
}

/* Style général pour un onglet */
.react-tabs__tab {
    display: inline-block; /* Permet à l'élément de se comporter comme un bloc mais aligné comme du texte inline */
    list-style: none; /* Retire le style de liste */
    padding: 10px 20px; /* Espace intérieur */
    cursor: pointer; /* Change le curseur en forme de main */
    border: none; /* Supprime les bordures */
    background: none; /* Pas de couleur de fond */
    color: #777; /* Couleur de texte gris clair */
    transition: color 0.3s ease; /* Animation douce pour le changement de couleur */
}

/* Style pour l'onglet actuellement sélectionné */
.react-tabs__tab--selected {
    color: #333; /* Couleur de texte gris foncé */
    border-bottom: 2px solid #333; /* Bordure inférieure pour indiquer la sélection */
}

/* Styles pour le contenu de chaque onglet */
.react-tabs__tab-panel {
    padding: 20px; /* Espace intérieur */
    background: #f5f5f5; /* Couleur de fond gris très clair */
    border-radius: 4px; /* Coins arrondis */
}

/* Masque les panneaux d'onglets qui ne sont pas actuellement visibles */
.react-tabs__tab-panel--hidden {
    display: none; /* Cache l'élément */
}

/* Styles pour tous les liens */
a {
    color: #007bff; /* Couleur de texte bleu */
    text-decoration: none; /* Pas de soulignement */
}

/* Styles pour les liens lorsqu'ils sont survolés */
a:hover {
    color: #0056b3; /* Couleur de texte bleu foncé au survol */
    text-decoration: underline; /* Soulignement au survol */
}

/* Animation qui fait clignoter un élément */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Styles pour un élément en cours de chargement */
.loading {
    font-size: 5em; /* Taille de texte très grande */
    color: #343a40; /* Couleur de texte gris foncé */
    position: absolute; /* Positionnement absolu par rapport à son parent relatif le plus proche */
    top: 50%; /* Centrage vertical */
    left: 50%; /* Centrage horizontal */
    transform: translate(-50%, -50%); /* Ajuste le centrage */
    animation: blink 1s linear infinite; /* Applique l'animation clignotante */
}

.react-tabs__tab:focus:after {
    display:none; /* Supprime le pseudo-élément ajouté après un onglet lorsqu'il est focalisé */
}

/* Styles pour un élément cliquable dans le contexte d'un onglet */
.clickable-element-onglet {
    display: flex; /* Utilise un modèle de boîte flexible pour positionner les enfants */
    align-items: center; /* Centre verticalement les éléments enfants */
    justify-content: space-between; /* Espacement égal entre les éléments enfants */
    padding: 15px 20px; /* Espace intérieur de 15px en haut et en bas, 20px à gauche et à droite */
    margin-bottom: 10px; /* Espace de 10px en dessous de l'élément */
    background-color: #f8f9fa; /* Couleur de fond légèrement grise */
    border: 1px solid #dee2e6; /* Bordure fine grise tout autour */
    border-radius: 5px; /* Arrondit les coins de la bordure */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Petite ombre portée sous l'élément */
    transition: all 0.2s ease-in-out; /* Animation douce lors des changements de style */
}

/* Effet de survol pour l'élément cliquable */
.clickable-element-onglet:hover {
    cursor: pointer; /* Change le curseur en forme de main lors du survol */
    color: #007bff; /* Couleur du texte en bleu lors du survol */
    box-shadow: 0 0 10px #007bff; /* Ombre portée bleue autour de l'élément lors du survol */
    transform: scale(1.02); /* Augmente légèrement la taille de l'élément lors du survol */
}

/* Styles pour améliorer l'accessibilité lorsque l'élément est focalisé */
.clickable-element-onglet:focus {
    outline: none; /* Supprime le contour par défaut lors de la mise au point */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Ajoute une ombre portée bleue pour indiquer la mise au point */
}

/* Container principal pour certains composants */
.global {
    display: flex; /* Utilise un modèle de boîte flexible pour positionner les enfants */
}

/* Styles pour une table ou un conteneur similaire */
.block-table {
    margin-bottom: 50px; /* Ajoute un espace de 50px en dessous de la table ou du conteneur */
}

/* Styles pour un div qui pourrait contenir des clés étrangères ou des liens */
.div-foreign-keys {
    overflow-x: auto; /* Permet le défilement horizontal si le contenu dépasse la largeur */
    white-space: nowrap; /* Empêche le contenu de passer à la ligne suivante, ce qui le force à rester sur une seule ligne */
    display: block; /* Force l'élément à être affiché comme un bloc */
}

